/* Universal section */
* {
    margin: 0px;
    padding: 0px;
}

/* Element Section */
body {
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: antiquewhite;
    color: #4F4846;
}

h1,
h2 {
    margin: 20px;
}

main {
    padding: 60px 0;
}


li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #266150;
}

header {
    position: fixed;
    border-bottom: 10px solid #DDAF94;
}

footer {
    position: absolute;
margin-top: 0;
bottom: 0;
border-top: 10px solid #4F4846;
border-bottom: 5px solid #4F4846;
color: white;
}

/* Class Selection */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* contact details */
button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #f4f0ee;
    
}

label {
    display: inline-block;
    width: 60px;
}

textarea {
    vertical-align: top;
    height: 60px;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid ;
}

form {
    margin: auto;
    width: 500px;
    padding: 20px;
    border: 5px solid #4F4846;
    border-radius: 20px;
}

section {
    margin-bottom: 10px;
    padding: 20px 40px;
    border-top: 3px solid #a98671;
background-color: #DDAF94;
}

figure {
    border: 15px solid rgb(107, 63, 44);
    position: static;
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: #266150;
    margin-bottom: 40px;
    
}

img {
    color: white;
    margin: 20px auto;
}
figcaption {
    margin-bottom: 20px;
    color: #4F4846;
}